{
  "source": {
    "directories": [
      "./src"
    ],
    "excludes": [
      "./vendor/"
    ]
  },
  "phpUnit": {
    "configDir": ".\/tests\/",
    "customPath": ".\/bin\/phpunit"
  },
  "logs": {
    "text": ".\/infection-report"
  },
  "mutators": {
    "@default": true
  },
  "testFramework":"phpunit",
  "bootstrap": "./vendor/autoload.php"
}